#Alexander_Muhin
"I`m not a magician, I`m just learning"
# Gradle files
.gradle/

# User-specific configurations
*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
